@import 'tailwindcss';

@layer base {
    body {
        @apply m-0 flex flex-col scroll-smooth bg-sky-200;
    }
    main {
        @apply pr-2 pl-2;
    }

    /* Fade-in keyframes */
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    /* Fade-in animation utility */
    .animate-fadeIn {
        animation: fadeIn 1s ease-in forwards;
    }
}

@theme {
    --font-sans:
        ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-mono:
        ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        'Liberation Mono', 'Courier New', monospace;
}
